<p class="card-text">Id: <%=@car.id%></p>
<p class="card-text">Make: <%=@car.make%></p>
<p class="card-text">Model: <%=@car.model%></p>
<p class="card-text">Year: <%=@car.year%></p>
<p class="card-text">Odometer: <%=@car.odometer%></p>
<p class="card-text">Price: <%=@car.price%></p>
<p class="card-text">Description: <%=@car.description%></p>
<p class="card-text">Date added: <%=@car.created_at.strftime('%Y-%m-%d')%></p>
